@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: "Segoe UI";
  src: local("SegoeUI"), url("./fonts/SegoeUI.ttf") format("truetype");
}

.App {
  /*background-color: black;*/
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.main-container {
  max-width: 950px;
  align-items: center;
  margin: 0 auto;
}
